<div ng-controller="BillCtrl">
    <h1>Bills</h1>
    <br/>

    <table class="bill_overview">
        <tr class="bill_titles">
            <th>Bill ID</th>
            <th>Lines</th>
            <th>Status</th>
        </tr>
        <tr class="bill_row" ng-repeat="bill in allBillsOfUser | orderBy:'-_id'">
            <td>{{bill._id}}</td>
            <td>
                <p class="bill_line" ng-repeat="line in bill.lines | orderBy:'price'" ng-show="line">Description: {{line.description}} - {{line.code}} - Price: {{line.price}}</p>
            </td>

            <td>{{bill.status}}</td>
        </tr>


    </table>
</div>
